@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  background: url("../img/bg-main.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0 139px 0;
}
.main header.container {
  display: flex;
  justify-content: space-between;
}
.main header.container .menu-mobile {
  display: none;
}
.main header.container ul {
  display: flex;
  list-style: none;
}
.main header.container ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.main header.container .menu-header {
  align-items: flex-start;
}
.main header.container .menu-header li + li {
  margin-left: 32px;
}
.main header.container .menu-header a {
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}
.main header.container .menu-header a:hover {
  opacity: 0.5;
}
.main header.container .login {
  align-items: center;
}
.main header.container .login li:first-child {
  padding-right: 24px;
  border-right: 1px solid rgba(242, 242, 242, 0.3);
}
.main header.container .login li:first-child:hover {
  opacity: 0.5;
}
.main header.container .login li + li {
  margin-left: 24px;
}
.main header.container .login li + li a {
  display: inline-block;
  padding: 14px 32px;
  background: #3671e9;
  border-radius: 32px;
}
.main header.container .login li + li a:hover {
  background: #0f054c;
}
.main header.container .login li + li a {
  font-weight: 500;
  line-height: 24px;
}
.main .content-main {
  margin-top: 131px;
}
.main .content-main .info .promo {
  display: inline-flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  padding: 4px 11px 4px 4px;
  margin-bottom: 24px;
}
.main .content-main .info span {
  background: #fff;
  padding: 4px 16px;
  color: #0d0d2b;
  margin-right: 16px;
  border-radius: 32px;
  font-weight: 500;
}
.main .content-main .info .title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  color: #fff;
  max-width: 588px;
  margin-bottom: 24px;
}
.main .content-main .info .subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #e0e0e0;
  max-width: 435px;
  margin-bottom: 32px;
}
.main .content-main .info .cta {
  display: inline-block;
  background: #3671e9;
  color: #fff;
  font-size: 18px;
  line-height: 17px;
  font-weight: 500;
  padding: 18px 24px;
  text-decoration: none;
  border-radius: 32px;
  transition: all 0.2s ease;
}
.main .content-main .info .cta:hover {
  background: #0f054c;
}

@media (max-width: 930px) {
  .main header.container {
    align-items: center;
  }
  .main header.container .menu-mobile {
    display: block;
  }
  .main header.container .menu-mobile div {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
  }
  .main header.container .menu-header {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    width: 100vw;
    height: 0;
    background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
    transition: all 0.3s ease;
  }
  .main header.container .menu-header li {
    margin: 20px !important;
  }
  .main header.container .menu-header li a {
    color: transparent;
  }
  .main header.container .menu-header.ativo {
    display: block;
    height: 75vh;
  }
  .main header.container .menu-header.ativo li a {
    color: #0d0d2b;
  }
  .main header.container .login li:first-child {
    padding: 0;
    border: none;
  }
  .main header.container .login li + li {
    display: none;
  }
}
@media (max-width: 700px) {
  .main {
    padding-top: 30px;
  }
  .main .content-main {
    margin-top: 80px;
  }
  .main .content-main .info .title {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 400px) {
  .main .content-main .info .promo {
    display: inline-flex;
    font-size: 12px;
  }
  .main .content-main .info .promo span {
    font-size: 12px;
  }
  .main .content-main .subtitle {
    font-size: 14px;
  }
}
